In [2]:
import pandas as pd

In [8]:
data_frame = pd.DataFrame(
{
    "Year": [1, 2, 3, 4, 5],
    "Style": ['a', 'b', 'c', 'd', 'e'],
    "0-60 (miles)": [0.1, 0.2, 0.3, 0.4,0.5 ],
    "Range": [True, False, False, False, True]
})

data_frame

   Year Style  0-60 (miles)  Range
0     1     a           0.1   True
1     2     b           0.2  False
2     3     c           0.3  False
3     4     d           0.4  False
4     5     e           0.5   True