In [1]:
#Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом,
#частину - за будь-яким іншим розподілом. Кількість спостережень - 20.
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    "1norm": np.random.randn(20),
    "gamma": np.random.gamma(shape=2, scale=4, size=20),
    "2norm":np.random.normal(loc=10,scale=3,size=20),
    "uniform": np.random.uniform(0,20,size=20),
    "poisson": np.random.poisson(5, size=20),
    "gumbel":np.random.gumbel(5, 3, 20)T
})

df

       1norm      gamma      2norm    uniform  poisson     gumbel
0  -0.187595   0.216530  12.861569   8.110187        4   4.522434
1  -0.824170   9.345417  10.352063  12.424942        3   2.363416
2  -0.688427   0.290838  16.670208  16.579581        5   8.066130
3   0.342918   9.226092   9.601599   1.933341        4  10.475054
4   0.101066   5.652367   5.413999   0.407297        5   5.445365
5   0.521625   0.721269  10.325321   2.682905        4   5.843629
6  -0.985896   3.203063   9.854940  10.108968        1   4.429852
7  -1.303503   2.526904   6.526181  12.145958        3   5.885467
8  -0.148425   8.154018   8.914787  12.957882        3   2.015613
9  -0.671451  15.177010   5.940032  15.650816        5   6.192612
10 -0.802506   1.825014   6.479395   6.272719        7   5.845868
11 -0.526424   5.745266  12.879840   6.664912        5  14.057988
12 -0.318592  13.253796  14.696432  12.406142        7   3.031739
13 -0.638370  15.050365  12.740635   0.645290        6   8.012742
14 -0.602600   7.242607  13.091372  12.418033        7  12.381485
15  0.458920   9.285421   9.962751   9.724152        5   4.876811
16 -1.659586  11.478957  12.651401   8.877341        7   9.114281
17 -0.953491   4.344366   9.736365  15.300108        4   5.244177
18  0.379268   8.467600   5.950154  19.172690        3   1.013659
19  0.546405   6.146508   8.990018  15.359525        4   6.229286

In [9]:
#Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
n = int(df.shape[0])
a=[0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def myFunction(data):
    if n % 2 == 0:
        k = int(n/2)
    else:
        k = int((n-1)/2)
    
    mn = np.mean(data)
    nm2 = 0
    
    for i in range(n):
        nm2 = nm2 + (data[i] - mn)**2
        
    b = 0
    for i in range (k):
        b += a[i] * (data[n-i-1] - data[i])
        
    w = (b**2)/nm2
    return w

In [11]:
myFunction(df["1norm"])

0.007899287699530905

In [13]:
#Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 
#3. Назва стовпчиків - Variable, Statistics, Distribution
titles = ["Variable", "Statistics", "Distribution"]
table = pd.DataFrame(columns = titles)
table

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

In [14]:
#4 Занести в стовпчик Variable назви змінних.
table["Variable"] = df.keys()
table

  Variable Statistics Distribution
0    1norm        NaN          NaN
1    gamma        NaN          NaN
2    2norm        NaN          NaN
3  uniform        NaN          NaN
4  poisson        NaN          NaN
5   gumbel        NaN          NaN

In [16]:
#5 Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. 
#Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal"
table["Distribution"] = ['normal' if 'norm' in i else 'non-normal' for i in table['Variable']]
table

  Variable Statistics Distribution
0    1norm        NaN       normal
1    gamma        NaN   non-normal
2    2norm        NaN       normal
3  uniform        NaN   non-normal
4  poisson        NaN   non-normal
5   gumbel        NaN   non-normal

In [17]:
#6 Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати
#середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].
for i in range(table.shape[0]):
    if 'norm' in table["Variable"][i]:
        table['Statistics'][i] = f'{df[table["Variable"][i]].mean()} {[df[table["Variable"][i]].std()]}'
table

  Variable                                Statistics Distribution
0    1norm  -0.3980416177917599 [0.6354934244296642]       normal
1    gamma                                       NaN   non-normal
2    2norm   10.181952916801237 [3.1415879217668574]       normal
3  uniform                                       NaN   non-normal
4  poisson                                       NaN   non-normal
5   gumbel                                       NaN   non-normal

In [18]:
#7 Розрахувати для всіх змінних, що розподілені за розподілом відсутнім
#від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].
for i in range (table.shape[0]):
    cur = table["Variable"][i]
    if 'norm' not in cur:
        table["Statistics"][i] =f'{df[cur].median()}[{df[cur].quantile(0.25)} {df[cur].quantile(0.75)}]'

table

  Variable                                         Statistics Distribution
0    1norm           -0.3980416177917599 [0.6354934244296642]       normal
1    gamma  6.694557584452145[3.034023360636836 9.30042019...   non-normal
2    2norm            10.181952916801237 [3.1415879217668574]       normal
3  uniform  11.127463211698355[6.5668636151082636 13.54343...   non-normal
4  poisson                                     4.5[3.75 5.25]   non-normal
5   gumbel  5.84474884846068[4.499288548878976 8.026088869...   non-normal

In [19]:
#8 Зберегти таблицю в пдф форматі
import matplotlib.backends.backend_pdf
import matplotlib.pyplot as plt
fig = plt.figure()
ax=fig.add_subplot(111)

cell_text = []
for row in range(len(table)):
    cell_text.append(table.iloc[row])

ax.table(cellText=cell_text, colLabels=table.columns, loc='center')
ax.axis('off')

pdf = matplotlib.backends.backend_pdf.PdfPages("table.pdf")
pdf.savefig(fig)
pdf.close()